%changelog
* [% rpm_date %] [% packager %] [% data.version %]-[% data.release %]
[% foo = changelog.shift; foo = changelog.shift -%]
[% data.changelog.join("\n") %]

[% data.spec.changelog.join("\n") -%]
